<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>141861983494-n8lpq4ua0ree4s76tm9hc7abdefkoddl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141861983494-n8lpq4ua0ree4s76tm9hc7abdefkoddl</string>
	<key>API_KEY</key>
	<string>AIzaSyBaSJyzzy5T7eWyPAOZw0t1HgeE56oLeHs</string>
	<key>GCM_SENDER_ID</key>
	<string>141861983494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rifai.Monique.ios</string>
	<key>PROJECT_ID</key>
	<string>cutetip-bde88</string>
	<key>STORAGE_BUCKET</key>
	<string>cutetip-bde88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:141861983494:ios:966414d3b164d193</string>
	<key>DATABASE_URL</key>
	<string>https://cutetip-bde88.firebaseio.com</string>
</dict>
</plist>